@font-face {
  font-family: 'RobotoFlex';
  src: url('/fonts/RobotoFlex-variable.woff2') format('woff2');
  font-style: normal;
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  unicode-range: U+0000, U+000D, U+0020-007E, U+00A0-017E, U+018F, U+0192,
  U+01A0-01A1, U+01AF-01B0, U+01C4-01CC, U+01E6-01E7, U+01EA-01EB,
  U+01FA-021B, U+022A-022D, U+0230-0233, U+0259, U+02B9-02BC,
  U+02C6-02C7, U+02C9, U+02D8-02DD, U+0300-0304, U+0306-030C, U+030F,
  U+0311, U+031B, U+0323-0324, U+0326-0328, U+032E, U+0331, U+0374-0375,
  U+037E, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03CF, U+03D7,
  U+0401-044F, U+0451-045F, U+0490-0493, U+0496-049D, U+04A0-04A3,
  U+04AA-04B3, U+04B6-04BB, U+04C0-04C2, U+04CF-04D3, U+04D6-04D9,
  U+04DC-04DD, U+04E6-04E9, U+04EE-04F3, U+04FE-04FF, U+1E80-1E85,
  U+1E9E, U+1EA0-1EF9, U+2002, U+2009, U+200B, U+2010, U+2013-2015,
  U+2018-201A, U+201C-201E, U+2020-2022, U+2026, U+2030, U+2032-2033,
  U+2039-203A, U+2044, U+2052, U+2074, U+20A1, U+20A3-20A4, U+20A6-20A7,
  U+20A9, U+20AB-20AD, U+20B1-20B2, U+20B4-20B5, U+20B8-20BA,
  U+20BC-20BD, U+2116, U+2122, U+2126, U+2190-2193, U+2206, U+2212,
  U+2215, U+2219, U+2248, U+2260, U+2264-2265, U+27E8-27E9, U+F50E-F511,
  U+F518-F51B, U+F522-F525, U+F528-F529, U+F52C-F52D, U+FB00-FB04,
  U+FEFF, U+FFFD;
}

/* Set custom properties for each layout feature */
:root {
  --roboto-flex-regular-pnum: "pnum" off;
}

/* If class is applied, update custom property and
   apply modern font-variant-* when supported */
.roboto-flex-regular-pnum {
  --roboto-flex-regular-pnum: "pnum" on;
}

@supports (font-variant-numeric: proportional-nums) {
  .roboto-flex-regular-pnum {
    --roboto-flex-regular-pnum: "____";
    font-variant-numeric: proportional-nums;
  }
}

/* Apply current state of all custom properties
 whenever a class is being applied */
.roboto-flex-regular-pnum {
  font-feature-settings: var(--roboto-flex-regular-pnum);
}

.roboto-flex-regular-thin {
  font-variation-settings: "opsz" 14, "wght" 100, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-extralight {
  font-variation-settings: "opsz" 14, "wght" 200, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-light {
  font-variation-settings: "opsz" 14, "wght" 300, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-regular {
  font-variation-settings: "opsz" 14, "wght" 400, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-medium {
  font-variation-settings: "opsz" 14, "wght" 500, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-semibold {
  font-variation-settings: "opsz" 14, "wght" 600, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-bold {
  font-variation-settings: "opsz" 14, "wght" 700, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-extrabold {
  font-variation-settings: "opsz" 14, "wght" 800, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-black {
  font-variation-settings: "opsz" 14, "wght" 900, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-extrablack {
  font-variation-settings: "opsz" 14, "wght" 1000, "GRAD" 0, "wdth" 100,
  "slnt" 0, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-thin-italic {
  font-variation-settings: "opsz" 14, "wght" 100, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-extralight-italic {
  font-variation-settings: "opsz" 14, "wght" 200, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-light-italic {
  font-variation-settings: "opsz" 14, "wght" 300, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-italic {
  font-variation-settings: "opsz" 14, "wght" 400, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-medium-italic {
  font-variation-settings: "opsz" 14, "wght" 500, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-semibold-italic {
  font-variation-settings: "opsz" 14, "wght" 600, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-bold-italic {
  font-variation-settings: "opsz" 14, "wght" 700, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-extrabold-italic {
  font-variation-settings: "opsz" 14, "wght" 800, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-black-italic {
  font-variation-settings: "opsz" 14, "wght" 900, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}

.roboto-flex-regular-extrablack-italic {
  font-variation-settings: "opsz" 14, "wght" 1000, "GRAD" 0, "wdth" 100,
  "slnt" -10, "XOPQ" 96, "YOPQ" 79, "XTRA" 468, "YTUC" 712, "YTLC" 514,
  "YTAS" 750, "YTDE" -203, "YTFI" 738;
}